version: 2
updates:
- package-ecosystem: gomod
  directories:
  - '/'
  - '/modules/oci'
  - '/modules/kubeclients'
  - '/modules/kind'
  - '/kubeutils'
  schedule:
    interval: daily
  allow:
  - dependency-type: all
    dependency-name: "*"
  reviewers:
  - package-operator/core-maintainers/dependency-maintainers
  open-pull-requests-limit: 100
  groups:
    kube:
      applies-to: version-updates
      patterns:
      - k8s.io/*
  commit-message:
    prefix: "build(deps)"
- package-ecosystem: github-actions
  directory: /
  schedule:
    interval: daily
  reviewers:
  - package-operator/core-maintainers/dependency-maintainers
  open-pull-requests-limit: 100
  commit-message:
    prefix: "build(deps)"

