name: unit-tests
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - name: Install Dependencies
        uses: magefile/mage-action@v2
        with:
          version: latest
          args: tidy
      - name: Run unit tests
        uses: magefile/mage-action@v2
        with:
          version: latest
          args: test:unit